

html{
  scroll-behavior: smooth;

}

body{
  font-family: 'League Gothic', sans-serif;
  background-image: url(https://giegroup.net/wp-content/uploads/2020/10/Background0001.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

#my_logo{
  height: 20vh;
  width: 20vh;

}




#page1 #button1{
  width: 20vh;
  height: 10vh;
  text-transform: uppercase;
  color: #04d9ff;
  font-weight: bold;
  font-size: 5vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}


.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'League Gothic', sans-serif;
}

.sidenav a:hover {
  color: #04d9ff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: white;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#contactlogo{
  height: 10vh;
  width: 10vh;
}

.fab{

}


#banner {
  background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Free-Website-BAckgrounds1.jpg);
  /*stretches the  image to cover the whole element*/
  background-size: cover;
  /*used to select a part of the image that will be used for the cover*/
  background-position: center;
}



.card-header{
  color: #04d9ff;
 font-family: 'Lobster', cursive;
}

.card-body{
  font-size: 4vh;
  width: 100%;

}

#contact{
  height: 70vh;
 font-size: 2rem;
  color: white;
}