html{
  scroll-behavior: smooth;

}

body{
  font-family: 'League Gothic', sans-serif;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/635/301/original/digital-technology-and-engineering-digital-telecoms-concept-hi-tech-futuristic-technology-background-illustration-vector.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}


#my_logo{
  height: 20vh;
  width: 20vh;

}




#page1 #button1{
  width: 20vh;
  height: 10vh;
  text-transform: uppercase;
  color: #04d9ff;
  font-weight: bold;
  font-size: 2.8vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}


.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #04d9ff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: white;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#gradient h1{
  text-transform: uppercase;
  background: linear-gradient(#30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vh;
  font-family: 'Lobster', cursive;
  }

p{
  font-size: 3.5vh;
  text-align: justify;
}
